package components

type AlertListData struct {
	Alerts []Alert
}

type Alert struct {
	Title string
	Text  string
}

templ AlertList(data AlertListData) {
	for _, a:= range data.Alerts {
		<div class="flex flex-col p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
			<span class="font-medium">{ a.Title }</span>
			<p>{ a.Text }</p>
		</div>
	}
}
