package components

type FormData struct {
	URL    string
	Errors map[string]error
}

templ IndexForm(data FormData) {
	<form id="url-form" hx-post="/shorten-url" hx-swap="outerHTML" class="flex flex-col gap-y-2">
		@InputText(InputTextProp{
			Name:        "long_url",
			PlaceHolder: "Enter a long URL",
			Value:       data.URL,
			Required:    true,
			Error:       data.Errors["long_url"],
		})
		@Button(ButtonProp{Type: "submit"}) {
			Shorten
		}
	</form>
}
