package templates

import (
	"github.com/zaibon/shortcut/middleware"
	"github.com/zaibon/shortcut/templates/components"
)

templ IndexPage() {
	{{ user := middleware.UserFromContext(ctx) }}
	@Layout() {
		<main class="flex-grow">
			@components.HeroSection(user)
			@components.FeaturesSection()
		</main>
	}
}